@tailwind base;
@tailwind components;
@tailwind utilities;




#navbar{
display: grid;
justify-content: flex-end;
border-style: solid;
border-width: 5px;
border-color: #92869c;
height: 55px;
width: 100%;
padding: 10px;
text-align: center;
color: #92869c;

}

.home{
    display: flex;
    justify-content:start;
}

#side-bar{
    display: flex;
    justify-content:end;
    
}
#side-bar a{
    padding-left: 10px;
    align-items: center;
    
}
i{
    ::before}

fa {
    display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    }
