@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    maximum-width: 100%;
    overflow-y: scroll;
overflow-x: hidden;
}


header{
    background-position: center;
    background-size: cover;
    background-image: 
     url(web.jpg.crdownload);
    min-height: 100%;
    display:block;
    padding: 300px;
}



.span1 {
    font-size:34px !important;
    marging-top:0px
   
}
.span2{
    font-size:24px !important;
    marging-top:0px
}

.span3{
        font-weight:bold !important;
    color:rgb(220,125,220) !important;
}

#navbar{
display: grid;
justify-content: flex-end;
border-style: solid;
border-width: 1px;
border-color: #92869c; 
height: 40px;
width: 100%;
padding: 5px;
text-align: center;
color: #92869c;
background-color:rgb(255,255,255);
position:fixed;

}

.container{
    display: flex;
    justify-content:start;
    font-size:19px;
    font-style:italic;
    
}

#side-bar{
    display: flex;
    justify-content:right;
    padding-right: 70px;
    font-size:20px;
    position: relative;
    left: 10%;

    
}

.right {
    float: left;
    width: 100%;
    border: 1px;
    display: block;
    outline: 0;
}
#work{

}
.dropbtn {
  /* background-color: #04AA6D;
  color: white; */
  padding: 1px;
  font-size: 19px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: -1px;
  max-width:100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
#side-bar a{
    padding-left: 10px;
    align-items: center;
    
}
.learn{
background-color: #92869c;

border-width:2px;
border-color: #92869c;
  padding: 15px;
  display: block;

  
    
}
.all{
    position: absolute;
    right: 3%;
    top: 20%;
    color: #9c9c2f !important;
    font-style: italic !important;
    }
    
